# Discord setup
DISCORD_WEBHOOK_URL=your_discord_webhook_url_here
DISCORD_MENTION=@everyone

# Bot alert work time (EDT timezone)
START_TIME_EDT=08:00
END_TIME_EDT=16:15
CHECK_INTERVAL_MINUTES=60 # Bot fetches latest data every CHECK_INTERVAL_MINUTES minutes

TICKERS=AAPL,MSFT,NVDA

# UT Bot Strategy setup
UT_BOT_TICKERS=GOOG,TSLA,AAPL # Comment this line out if you are using the same generic TICKERS for UT Bot Strategy
UT_BOT_SENSITIVITY=1
UT_BOT_ATR_PERIOD=10
UT_BOT_USE_HEIKIN_ASHI=false
UT_BOT_FETCH_DATA_INTERVAL=1d
UT_BOT_FETCH_DATA_PERIOD=3mo
